*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    width: 100%;
    height: 425px;
    text-align: center;
    background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(3, 9, 199, 0) 45%),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(3, 3, 142, 0.7)),
    linear-gradient(to top,    rgba(0,0,0,0.75), rgba(17, 2, 148, 0.411) 45%),
    url(../img/image\ 2.png);
    opacity: 0.7;
    border-bottom: 2px solid grey;
}
img{
    margin-top: 50px;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
h1{
    margin-bottom: 15px;
    color: rgb(40, 40, 247);
}
h4{
    color: white;
}
button{
    text-align: center;
    margin-top: 15px;
    padding: 10px 15px;
    font-weight: 600;
    color: rgb(40, 40, 247);
    border-color: rgb(40, 40, 247);
    background: transparent;
    
}
button:hover{
    background-color: rgb(40, 40, 247);
    color: white;
    cursor: pointer;
}
main{
    text-align: center !important;
    background-color: black;
}
div{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: black;
    text-align: center;
}
#banner{
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/Frame\ 10.png);
    background-attachment: fixed;
    text-align: left;
}
#banner h1{
    padding-left: 10%;
    padding-top: 8%;
    margin-left: 15px;
    color: white;
    font-family:arquivo black, sans-serif;
    font-weight: 1000;
    font-size: 25px;
    text-shadow: 3px 3px black;
}
#modulos{
    padding-left: 13%;
    width: 50%;
    text-align: center;
    border-radius: 25px;
    display: flex;
}
#modulos-2{
    padding-left: 10%;
    width: 50%;
    text-align: center;
    border-radius: 25px;
    display: flex;
}
#modulos-3{
    padding-left: 7%;
    width: 50%;
    text-align: center;
    border-radius: 25px;
    display: flex;
}
#botoes{
    white-space: nowrap;
    margin-left: 35%;
    
}
h3{
    margin-left: 15px;
}
footer{
    width: 100%;
    padding: 60px;
    text-align: center;
    background-color: black;
    color: white;
    background-repeat: no-repeat;
}
footer img{
    width: 300px;
    height: 90px;
    border-radius: 0% !important;
}
#bloco-2{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    color: white;
    
}
#bloco-2 img {
    width: 400px;
    height: 400px;
}
#bloco-2 p{
    width: 50%;
    margin: auto;
    padding-top: 20px;
    font-size: 18px;
}
a{
    margin: 5px;
}